/* Estilo geral do fundo */
body {
  font-family: "Arial", sans-serif;
  background: #1b1e2f; /* Azul escuro elegante */
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

/* Container principal */
.meals-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
  max-width: 1000px;
}

/* Estilização de cada card */
.meal-card {
  background: #2a2d44; /* Azul escuro mais claro */
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  transition: 0.3s;
  box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.3) ;
}

.meal-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 6px 12px rgba(0, 255, 255, 0.2);
}

/* Estilizando as imagens */
.meal-card img {
  width: 100%;
  border-radius: 10px;
  transition: 0.3s;
}

.meal-card img:hover {
  opacity: 0.9;
  cursor: pointer;
}

/* Nome da refeição */
.meal-card p {
  font-size: 16px;
  font-weight: bold;
  color: #00ffff; /* Ciano neon */
  margin-top: 10px;
}
